# Node
node_modules/
client/node_modules/
server/node_modules/

# Builds
dist/
server/dist/
client/dist/
build/

# Env
server/.env
client/.env
.env
.env.dev
.env.prod
.env.development
.env.production
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/OS
.DS_Store
.vscode/
.idea/
Thumbs.db

# Prisma
server/prisma/dev.db*
server/prisma/*.sqlite*

# Docker files (Allow these to be tracked)
# nginx.conf
# docker-compose.yml
# docker-compose.prod.yml
# Dockerfile.prod

# Misc
script-linux.md

backup.sql
server/gen.cjs
backup-db.sh
