# Node
node_modules/
client/node_modules/
server/node_modules/

# Builds
dist/
server/dist/
client/dist/
build/

# Env
server/.env
client/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/OS
.DS_Store
.vscode/
.idea/
Thumbs.db

# Prisma
server/prisma/dev.db*
server/prisma/*.sqlite*

# Local env files
.env


